{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2",
    /* todo add begin when use aMap */
    ["es2015", { "modules": false }]
    /* todo add end when use aMap */
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
